@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

/*--GENERAL CSS--*/

h1, h2, h3, h4, h5 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Lora', serif;
}

.red-text {
    color: #9D1821;
}

a:hover {
    text-decoration: underline;
    color: white;
}

.page-headings {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 80px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

/*-- NAVBAR --*/

header {
  position: sticky;
  z-index: 1;
  background-color: #9D1821;
  top: 0;
  width: 100%;
}


.navbar {
  margin-bottom: 0;
  border: 0;
  padding: 0;
}

.navbar-container {
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem;
}

.logo-small {
    padding-left: 1rem;
}

.navbar-dark .navbar-toggler {
    border-color: #f8f9fa45;
    margin-right: 20px;
}

 .navbar button:focus {
     outline: 5px auto white;
}

/*-- HERO IMAGE --*/

.hero-container{
    padding: 0;
    margin: 0;
}

.carousel-item {
    height: 100vh;
  background: no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
}

.carousel-control-next, .carousel-control-prev {
    background-image: none;
}

.carousel-indicators .active {
    background-color: #edbb00;
    border: #edbb00;
}

.logo-cta {
    height: 248px;
    width: 300px;
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*-- WHY VISIT CORK SECTION */
.why-cork-div {
   border: 5px solid #9D1821;
   padding: 20px;
}

.margin-div {
    margin-top: 75px;
    width: 100%
}

#history-cork-img {
    width: 100%;
    min-height: 349px;
}

#food-capital-img {
    min-height: 368px;
}

#baltimore-image {
    min-height: 349px;
}

#irish-music-image {
    min-height: 406px;
}

@media (min-width: 768px) and (max-width: 1199.98px) { 
    .why-cork-div p {
        font-size: smaller;
    }
 }

.padding-right-off {
    padding-right: 0;
}

.padding-left-off {
    padding-left: 0;
}

/*-- MAP SECTION --*/ 

#map {
   min-height: 360px;
   width: 50%;
}

.tab-panels ul li {

    background: #ffffff;
    padding: 3px 10px;
    color: black;
    cursor: pointer;
}

.tab-panels ul li.active {
    color: #9D1821;
    background: #ffffff;
}

.tab-panels .locations {
    display:none;
    background: #9D1821;
    padding: 30px;
}

.tab-panels .locations.active {
    display:block;
}

.locations {
    text-align: center;
}

.locations a img {
    height: 100px;
    width: 168px;
    border: 2px solid #a1720bbb;
}

.locations a h5 {
    color: #ffffff;
    font-size: .80rem;
}

.locations div p {
    font-size: small;
    font-weight: 500;
    color: white;
    text-align: center;
}

.list-group  {
    text-align: center;
    border: 2.5px solid #9D1821;
    border-radius: 0%;
    
}

.list-group-item {
    border: none;
    width: 25%;

}

.list-group-item h5 {
  font-size: smaller;
}

.list-group-item.active {
    z-index: 0;
}

@media screen and (max-width: 991px) {
.tab-column  {
    padding-right: 0;
    padding-left: 0;
    margin: 20px 0;
    }
}

.collapse .btn.focus, .btn:focus {
    box-shadow: none;
}

.tab-panel-headings {
    color: white;
}

/*-- .hvr-bounce-out FROM HOVER.CSS */

.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

/*-- COVID SECTION -- */

.covid-container h2 {
    text-align: center;
}

.table {
    margin-bottom: 0;
}

.table-col {
padding: inherit;
}

.table caption{
    border: inherit; 
}

.table {
    background: #030303d6;
    color: white;
}

.table td, .table th, .table thead th {
    border-color: #d5d0d0
}

.table td, .table th {
    padding: .30rem;
}

.table tfoot td {
    color: #ff515d85;
}

.table-data-1 {
    color: burlywood;
}

.table-header {
    font-size: 1.25rem;
    color: #ff515d85;
}

@media screen and (max-width: 992px) {
.table td, .table th {
    padding: 0 0 0 1rem;
    }
.covid-guidelines {
    padding-left: 0;
    padding-right: 0;
    }
.table {
    margin-bottom: 32px;
    }
}

#covid-poster {
    width: 100%;
}

.jumbotron {
    background-color: #555555;
}

.jumbotron div p {
    color: white;
}

.jumbotron div h5, .jumbotron div h4 {
    color: #ff515d85;
}

.jumbotron div ul li a, div a {
    color: burlywood;
}

/*--FOOTER--*/

.image-logo {
    width: 100px;
    height: 100px;
}

footer {
    background-color: #9D1821;
    color: white;
}

footer a {
    color: white
}

.social-links {
    margin: auto;
    text-align: center;
    font-size: xx-large;
    padding: 1rem;
}

.social-links a i {
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links  a:hover, a i:hover {
    color: #a1720bbb;
}

.partners-links {
    text-align: right;
    padding: 1rem;
}
.partners-links a {
     transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.partners-links a:hover {
     color: #a1720bbb;
     text-decoration: none;
}

.contact-info {
    padding: 1rem;
}

@media screen and (max-width: 576px) {
    .partners-links, .social-links, .contact-info  {
        text-align: center;
    }
}

/*--Copied Code from stack overflow to stop animation on AOS Scrolling at smaller screen widths--*/
@media only screen and (max-width : 576px) {
    .animated {
        /*CSS transitions*/
        -o-transition-property: none !important;
        -moz-transition-property: none !important;
        -ms-transition-property: none !important;
        -webkit-transition-property: none !important;
        transition-property: none !important;
        /*CSS transforms*/
        -o-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
        /*CSS animations*/
        -webkit-animation: none !important;
        -moz-animation: none !important;
        -o-animation: none !important;
        -ms-animation: none !important;
        animation: none !important;
    }
}