/*-- MAP SECTION--*/ 

#map {
   min-height: 360px;
   width: 50%;
}

.tab-column {
    padding: 1rem 1rem 0 1rem;
}
.tab-panels ul li {

    background: #ffffff;
    padding: 3px 10px;
    color: black;
    cursor: pointer;
}
/*
.tab-panels ul li:hover {
    color: #fff;
    background: #666;
}
*/

.tab-panels ul li.active {
    color: #ec3535ed;
    background: #ffffff;
}

.tab-panels .locations {
    display:none;
    background: #ec3535ed;
    padding: 30px;
}

.tab-panels .locations.active {
    display:block;
}

.locations {
    text-align: center;
}

.locations a img {
    width: 100%;
    height: 100px;
    max-width: 168px;
}

.locations a h5 {
    color: #ffffff;
}


.locations div p {
    font-size: small;
    font-weight: 500;
    color: white;
    text-align: center;
}

.list-group  {
    text-align: center;
    
}

.list-group-item {
    border: none;
    width: 25%;

}

.list-group-item h5 {
  font-size: smaller;
}

@media screen and (max-width: 768px) {
.tab-column  {
    padding-right: 0;
    padding-left: 0;
    margin: 20px 0;
    }

.locations a img {
    width: 168px
}
}

.collapse .btn.focus, .btn:focus {
    box-shadow: none;
}

/*-- .hvr-bounce-out FROM HOVER.CSS */

.hvr-bounce-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}